@import url(http://fonts.googleapis.com/css?family=Raleway);
.arrow-right:after, .closeheat-common-logo-guide:after, .arrow-right:before, .closeheat-common-logo-guide:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }
.arrow-right:after, .closeheat-common-logo-guide:after {
  border-left-color: #dc2240;
  border-width: 25px;
  margin-top: -25px; }
.arrow-right:before, .closeheat-common-logo-guide:before {
  border-left-color: #dc2240;
  border-width: 25px;
  margin-top: -25px; }

.closeheat-common-logo-guide {
  font-family: 'Raleway';
  font-size: 22px;
  position: fixed;
  bottom: 10;
  right: 70;
  background-color: #dc2240;
  color: #fff;
  height: 50px;
  line-height: 50px;
  padding: 0 10px; }
