@import url(http://fonts.googleapis.com/css?family=Raleway);

$height: 50px;
$arrow-height: $height / 2;
$bg: #dc2240;

.arrow-right {
  &:after, &:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-left-color: $bg;
    border-width: $arrow-height;
    margin-top: -1 * $arrow-height;
  }

  &:before {
    border-left-color: $bg;
    border-width: $arrow-height;
    margin-top: -1 * $arrow-height;
  }
}

.closeheat-common-logo-guide {
  @extend .arrow-right;

  font-family: 'Raleway';
  font-size: 22px;
  position: fixed;
  bottom: 10;
  right: 70;
  background-color: $bg;
  color: #fff;
  height: $height;
  line-height: $height;
  padding: 0 10px;
}
