@import url(http://fonts.googleapis.com/css?family=Raleway);

$tooltip-height: 50px;
$arrow-height: $tooltip-height / 2;
$bg: #dc2240;
$text-color: #fff;

.closeheat-arrow {
  position: fixed;
  background: $bg;
  color: $text-color;
  font-family: 'Raleway';
  font-size: 22px;

  &:after, &:before {
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-left-color: $bg;
    border-width: $arrow-height;
    margin-top: -1 * $arrow-height;
  }

  &:before {
    border-left-color: $bg;
    border-width: $arrow-height;
    margin-top: -1 * $arrow-height;
  }
}

.closeheat-arrow-right {
  @extend .closeheat-arrow;

  left: 100%;
}

.closeheat-arrow-left {
  @extend .closeheat-arrow;

  right: 100%;
}

.closeheat-tooltip {
  background-color: $bg;
  color: $text-color;
  height: $tooltip-height;
  line-height: $tooltip-height;
  padding: 0 10px;
  font-family: 'Raleway';
  font-size: 16px;
  z-index: 999;
  position: fixed;
}

.closeheat-tooltip-left {
  @extend .closeheat-tooltip;

  &:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: $bg;
    border-width: $arrow-height;
    margin-top: -1 * $arrow-height;
  }
}

.closeheat-tooltip-right {
  @extend .closeheat-tooltip;

  &:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-left-color: $bg;
    border-width: $arrow-height;
    margin-top: -1 * $arrow-height;
  }
}

.closeheat-tour-code-editor {
  @extend .closeheat-tooltip-left;

  top: 45vh;
  left: 41%;
}

.closeheat-tour-preview-button {
  @extend .closeheat-tooltip-left;

  top: 7px;
  left: 155px;
}

.closeheat-tour-deploy-button {
  @extend .closeheat-tooltip-left;

  top: 7px;
  left: 270px;
}

.closeheat-tour-common-logo {
  @extend .closeheat-tooltip-right;

  font-size: 22px;
  bottom: 10;
  right: 70;
}
